# ELK version 6.2.2
version: '3'
services:
  elk:
    build:
     context: ./elk
    ports:
      - "5601:5601"
      - "9200:9200"
      - "9300:9300"
      - "5044:5044"
    volumes:
      - "./elk/elasticsearch/data:/var/lib/elasticsearch"
      - "./elk/elasticsearch/config:/opt/elasticsearch/config"
      - "./elk/elasticsearch/curator:/opt/elasticsearch-curator"
      - "./elk/logstash/config/logstash.yml:/opt/logstash/config/logstash.yml"
      - "./elk/kibana/config:/opt/kibana/config"
      - "./elk/logstash/certs/logstash-beats.crt:/etc/pki/tls/certs/logstash-beats.crt"
      - "./elk/logstash/conf.d:/etc/logstash/conf.d"

    restart: always
    networks:
      - net
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '2'
          memory: 1G
  filebeat:
      build:
        context: ./filebeat
      volumes:
        - "./filebeat/config/filebeat.yml:/usr/share/filebeat/filebeat.yml"
        - "./openio/log/oio/sds/OPENIO:/var/log/oio/sds/OPENIO"
        - "./elk/logstash/certs/logstash-beats.crt:/etc/pki/tls/certs/logstash-beats.crt"
      restart: always
      networks:
        - net

  openio-sds:
    build:
      context: ./openio
    ports:
     - "6007:6007"
    volumes:
     - "./openio/log/oio/sds/OPENIO:/var/log/oio/sds/OPENIO"
     - "./openio/etc/rsyslog.conf:/etc/rsyslog.conf"
    restart: always
    networks:
      - net
networks:
  net:
    driver: bridge
