#Filebeat version 6.6.2

#-----------------------------Filebeat input --------------------------------

filebeat.prospectors:
- type: log
  enabled: true
  paths:
    - /var/log/oio/sds/OPENIO/oioswift-*/oioswift-*.log
  fields:
    name_log: oio-swift
- type: log
  enabled: true
  paths:
    - /var/log/oio/sds/OPENIO/*/*.access
    - /var/log/oio/sds/OPENIO/rawx-*/*-access.log
  fields:
    name_log: oio-access
- type: log
  enabled: true
  paths:
    - /var/log/oio/sds/OPENIO/meta*/*.log
    - /var/log/oio/sds/OPENIO/conscience*/*.log
    - /var/log/oio/sds/OPENIO/oioproxy-*/*.log
    - /var/log/oio/sds/OPENIO/oio-event-agent*/*.log
  fields:
    name_log: oio-logs
- type: log
  enabled: true
  paths:
    - /var/log/oio/sds/OPENIO/oio-blob-indexer-*/*.log
  fields:
    name_log: oio-blob-indexer
- type: log
  enabled: true
  paths:
    - /var/log/oio/sds/OPENIO/account-*/*.log
  fields:
    name_log: oio-account
#----------------------------- Logstash output --------------------------------
output.logstash:
  hosts: ["192.168.1.43:5044"]
  #send data with the specific format with codecs
  #codec.format :
  #  string:  '%{[@timestamp]} %{[@message]}'

  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  #ssl.certificate_authorities: ["/etc/pki/tls/certs/logstash-beats.crt"]

  # Certificate for SSL client authentication
  #ssl.certificate: "/etc/pki/client/cert.pem"

  # Client Certificate Key
  #ssl.key: "/etc/pki/client/cert.key"
