
#-------------------------------SENTINL Configuration----------------------------------

sentinl:
  es:
    host: 'localhost'
    port: 9200
    timefield: '@timestamp'
    default_index: watcher
    type: sentinl-watcher
    alarm_index: watcher_alarms
    alarm_type: sentinl-alarm
    script_type: sentinl-script
  settings:
    # authentication:
    #   enabled: true
    #   username: 'kibanaserver'
    #   password: 'kibanaserver'
    slack:
      active: true
      username: 'elk-alerting'
      hook: 'https://hooks.slack.com/services/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TDT0I'
      channel: '#elk-alerting'
    # email:
    #   # active: true
    #   # host: 'localhost'
    #   active: true
    #   host: smtp.gmail.com
    #   user: pacobadiane17@gmail.com
    #   password: mdp
    #   ssl: false
    report:
      active: true
      authentication:
        enabled: true
        mode:
          searchguard: true
      executable_path: '/usr/bin/chromium'

#-----------------------------------------------------------------------------------------------

server.host: "0.0.0.0"
server.name: kibana
elasticsearch.url: http://localhost:9200
elasticsearch.username: "kibanaserver"
elasticsearch.password: "kibanaserver"
searchguard.basicauth.login.brandimage: http://www.openio.io/wp-content/uploads/2017/02/OIO_LOGO_rgb_red.png
searchguard.readonly_mode.roles: ["sg_customer_access"]
elasticsearch.ssl.verificationMode: none

# Whitelist the Search Guard Multi Tenancy Header
elasticsearch.requestHeadersWhitelist: [ "Authorization", "sgtenant" ]
searchguard.multitenancy.enable_filter: true
searchguard.multitenancy.tenants.enable_global: true


kibana.index: ".kibana"
