#-----------------------------------------------------------------------------------------------

server.host: "0.0.0.0"
server.name: kibana
elasticsearch.url: http://localhost:9200
elasticsearch.username: "kibanaserver"
elasticsearch.password: "kibanaserver"
searchguard.basicauth.login.brandimage: "http://www.openio.io/wp-content/uploads/2017/02/OIO_LOGO_rgb_red.png"
searchguard.readonly_mode.roles: ["sg_customer_access"]
elasticsearch.ssl.verificationMode: none

# Whitelist the Search Guard Multi Tenancy Header
elasticsearch.requestHeadersWhitelist: [ "Authorization", "sgtenant" ]
searchguard.multitenancy.enable_filter: false
searchguard.multitenancy.tenants.enable_global: false
kibana.index: ".kibana"
